#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.calendar-container {
  padding: 20px;
}

.calendar-scroll {
  overflow-y: auto;
  padding: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-cell {
  padding: 10px;
}

.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-date {
  font-weight: bold;
  font-size: 18px;
}

.calendar-day {
  margin-top: 4px;
  font-size: 14px;
  color: #666;
}

.current-day {
  background-color: #e6e6e6;
}

.time-slots {
  display: flex;
  flex-direction: column;
}
/* .hour-buttons {
  display: none;
} */

.hour-buttons.show {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.hour-buttons button {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.hour-buttons button:hover {
  background-color: #aaa;
}

.hour-buttons button.active {
  background-color: #ff0000;
  color: #fff;
}
