:root {
  --background-color: #fff;
  --text-color: #213547;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #171515 ;
    --text-color: rgba(255, 255, 255, 0.87);
  }
}

#root {
  width: 880px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

@media (max-width: 880px) {
  #root {
    width: 100%;
  }
}


.centre {
  place-content: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
